
*{
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;                  
  font-size: 16px;                                    
  color: #434455;                    
  background-color: #ffffff;         
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
}

ul{
  padding:0; margin:0;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%; 
  height: auto;
}

.container{
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header{
  border-bottom:1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
  display: flex;
}

.header-navigation{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
 margin-right: 76px;
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4d5ae5;
}

.logo .studio {
 color: #2e2f42;
}

.menu{
  display: flex;
  gap: 40px;
  
}

.menu-item {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

}

.current{
color: #404bbf;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}

.contacts-list{
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.contacts-item{
  font-size: 16px;  
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover,
.contacts-item:focus {
color: #404bbf;
}

/* Section 1 Hero Banner */

.hero-banner{
background-color: #2e2f42;
background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
padding: 188px 0;
margin: auto;
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.hero-banner-title {
  margin: 0 auto 48px;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-banner-button {
  margin: 0 auto;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-banner-button:hover,
.hero-banner-button:focus {
  background-color: #404BBF;
}

/* Section 2 Benefits */
.benefits{
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  border: 0;
  white-space: nowrap;
}

.benefits-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
   margin-bottom: 8px;
}

.benefits-list{
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}

.benefits-item{
  width: calc((100% - 72px) / 4);
}

.benefits-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.benefits-info{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3 Our Team */
.team{
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
color: #2e2f42;
}

.team-list{
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}

.team-list-item {
background-color: #ffffff;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-conteiner{
  padding: 32px 0;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.icons-list{
  display: flex;
  justify-content: center;
  padding-left: 0;
  gap: 24px;
  
}

.icons-list-item{
  width: 40px;
  height: 40px;
}

.icons-link{
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-link-item{
  fill: #f4f4fd; 
}

.icons-link:hover,
.icons-link:focus{
  background-color: #404bbf;
}

/* Section 4  Our Portfolio */
.portfolio{
  padding: 120px 0 120px 0;
}

.portfolio-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin: 0;
}

.portfolio-item{
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-list-image{
  position: relative;
  overflow: hidden;

}

.portfolio-list-paragraph{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
 box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08) ;
}

 .portfolio-item:hover .portfolio-list-paragraph{
  transform: translateY(0%);
}

.portfolio-list-text{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.portfolio-item-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer{
 background-color: #2e2f42;
 padding: 100px 0;

}
.footer-section{
  display: flex;
  align-items: baseline;
}

.footer-branding{
  margin-right: 120px;
}

.logo-footer{
  display: inline-block;
  margin-bottom: 16px;
}

.footer-studio{
 color: #f4f4fd;
}

.footer-paragraph {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.socials-section{
  margin-right: 80px;
}
.socials-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
}

.footer-list{
  display: flex;
  gap: 16px;
}

.footer-icon{
  width: 40px;
  height: 40px;
}

.footer-icons-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus{
  background-color: #31d0aa;
}
.footer-icon-item{
  fill: #f4f4fd;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.subscribe-title {
   font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  padding: 12px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
}
.subscribe-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 500;
  cursor: pointer;
}
.subscribe-icon {
  fill: currentColor;
}